<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ToDo App{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('my_view.home') }}">Home</a></li>
            <li><a href="{{ url_for('my_view.page2') }}">Page 2</a></li>
            <li><a href="{{ url_for('my_view.page3') }}">Page 3</a></li>
        </ul>    
    </nav>
    
    {% block content %}
    


    {% endblock %}
</body>
</html>

