{%extends 'base.html'%}

{% block content %}


</head>
<body>
    <header>
        <div class="welcome-container">
            <section>
                <p class="welcome-text">Here you will find pictures for each task.</p>
                <p>Only for completed tasks!</p>
            </section>
        </div>
        <div class="image-container">
            <img src="https://i.pinimg.com/736x/8a/a8/62/8aa862bca9292219cc54771c4ada4af2.jpg" alt="Cleaned Kitchen" class="image">
            <p>Cleaned Kitchen</p>
            <img src="https://media1.popsugar-assets.com/files/thumbor/kzhSzISmZFcYm5dp9ssX3E5v74o=/fit-in/792x528/top/filters:format_auto():upscale()/2019/04/28/688/n/44492010/tmp_vXYfHU_119dc053bdd753b8_architecture-bathroom-bathtub-1910472.jpg" alt="Cleaned Bathroom" class="image">
            <p>Cleaned Bathroom</p>
            <img src="https://hips.hearstapps.com/hmg-prod/images/sitting-room-ideas-clean-living-room-1649667015.jpg?crop=0.689xw:1.00xh;0.0609xw,0&resize=1200:*" alt="Cleaned Living Room" class="image">
            <p>Cleaned Living Room</p>
        </div>
        
    </header>    
</body>



{% endblock %}

